body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pixy-chars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px 0;
  margin-right: 20px;
}

.char:first-child {
  margin-left: 0;
}

.char:last-child {
  margin-right: 0;
}

.space {
  width: 20px;
  height: 100%;
}

.blocks-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  border: 5px solid;
}

.on {
  border-color: black;
}

.off {
  border-color: transparent;
}

.slide-anim {
  -webkit-animation: textSlide linear 10s infinite;
  animation: textSlide linear 10s infinite;
}

.options-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.options-bar .option {
  height: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: 5px solid black;
  padding: 10px 30px;
}

.options-bar .option:first-child {
  border-left-width: 10px;
}

.options-bar .option:last-child {
  border-right-width: 10px;
}

@-webkit-keyframes textSlide {
  from {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
}

@keyframes textSlide {
  from {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
}

@-webkit-keyframes shadowSlide {
  from {
    -webkit-box-shadow: inset 0px 0 0px white;
    box-shadow: inset 0px 0 0px white;
  }
  to {
    -webkit-box-shadow: inset 200px 0 0px white;
    box-shadow: inset 200px 0 0px white;
  }
}

@keyframes shadowSlide {
  from {
    -webkit-box-shadow: inset 0px 0 0px white;
    box-shadow: inset 0px 0 0px white;
  }
  to {
    -webkit-box-shadow: inset 200px 0 0px white;
    box-shadow: inset 200px 0 0px white;
  }
}
/*# sourceMappingURL=pixyChars.css.map */
.preview-container {
  position: relative;
  display: flex;
  max-width: 600px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.preview-container .pixy-chars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container {
  border: 8px solid black;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  /* animation: shadowSlide ease-in-out 5s infinite; */
}
